.container_form_c_bingo img {
    width: 75%;
    border-radius: 55px;
    text-align: center;
    animation: fourDBanner 1.5s ease-in-out infinite both;
}
.container_form_c_bingo {
    display: flex;
    align-items: center;
    justify-content: center;
}